body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    text-align: center;
    color: white;
}

.container {
    margin-top: 100px;
}

select, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

button {
    background: #ff9800;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #e68900;
}